<app-layout></app-layout>
<h2 style="text-align: right;">{{currentDate | date: 'hh:mm:ss'}}</h2>

<div>
  <button class="daysbtn btn btn-primary">Yesterday</button>
  <button class="daysbtn btn btn-primary">Today</button>
  <button class="daysbtn btn btn-primary">Tomorrow</button>
</div>

<h1 style="text-align: center;">{{currentDate | date}}</h1>

<div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary + text color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr >
          <td>
            <input
              type="text"
              class="form-control"
            />
          </td>
          <td>
            <input
              type="color"
            />
          </td>
          <td>
            <input
              type="color"
            />
            <input
              type="color"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr 
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>