<app-layout></app-layout>
<h2>{{currentDate | date: 'hh:mm:ss'}}</h2>

<div>
  <button class="btngroupLeft btn btn-primary">Yesterday</button>
  <button class="btngroupLeft btn btn-primary">Today</button>
  <button class="btngroupLeft btn btn-primary">Tomorrow</button>

  <button class="btngroupRight btn btn-primary">Month</button>
  <button class="btngroupRight btn btn-primary">Week</button>
  <button class="btngroupRight btn btn-primary">Day</button>
</div>

<h1>{{currentDate | date}}</h1>
<app-eventModal></app-eventModal>

<div class="container-fluid" >
  <div>
    <div class="box row" style="text-align: center; font-weight: bold;">
      <div class="col-xs col-sm col-md col-lg border border-dark">Monday</div>
      <div class="col-xs col-sm col-md col-lg border border-dark">Tuesday</div>
      <div class="col-xs col-sm col-md col-lg border border-dark">Wednesday</div>
      <div class="col-xs col-sm col-md col-lg border border-dark">Thursday</div>
      <div class="col-xs col-sm col-md col-lg border border-dark">Friday</div>
      <div class="col-xs col-sm col-md col-lg border border-dark">Saturday</div>
      <div class="col-xs col-sm col-md col-lg border border-dark">Sunday</div>
    </div>
    <div class="box row days">
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
    </div>
    <div class="box row days">
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
    </div>
    <div class="box row days">
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
      <div class="col-xs col-sm col-md col-lg border border-dark"></div>
    </div>
  </div>
</div>




<!-- <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary + text color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>
  
      <tbody>
        <tr >
          <td>
            <input
              type="text"
              class="form-control"
            />
          </td>
          <td>
            <input
              type="color"
            />
          </td>
          <td>
            <input
              type="color"
            />
            <input
              type="color"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr 
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              mwlFlatpickr
              dateFormat="Y-m-dTH:i"
              altFormat="F j, Y H:i"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->