body{
    background-color: lightskyblue;
}

h1{
    font-size: 30px;
    text-align: center;
   
}

.formText{
    font-size: larger;
    font-weight: bold;
}
.container{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white;
    padding: 5px;
    margin-top: 10%;

}

a{
    text-decoration: none;
    font-size: large;
}


