<h2>{{today | date: 'hh:mm:ss'}}</h2>

<div>
  <button class="btngroupLeft btn btn-primary col" (click)="dayBefore()"><</button>
  <button class="btngroupLeft btn btn-primary col" (click)="dayNow()">Today</button>
  <button class="btngroupLeft btn btn-primary col" (click)="nextDay()">></button>

  <button class="btngroupRight btn btn-primary col" routerLink="/calendar/month">Month</button>
  <button class="btngroupRight btn btn-primary col" routerLink="/calendar/week">Week</button>
  <button class="btngroupRight btn btn-primary col" routerLink="/calendar/day">Day</button>
</div>

<h1>{{today | date: 'MMMM yyyy'}}</h1>

<div class="container-fluid">
    <div class="container">
        <div class="grid-calendar">
            <div class="row calendar-week-header">
                <div class="col-xs-1 grid-cell"><span class="TextColor">Monday</span></div>
                <div class="col-xs-1 grid-cell"><span class="TextColor">Tuesday</span></div>
                <div class="col-xs-1 grid-cell"><span class="TextColor">Wednesday</span></div>
                <div class="col-xs-1 grid-cell"><span class="TextColor">Thursday</span></div>
                <div class="col-xs-1 grid-cell"><span class="TextColor">Friday</span></div>
                <div class="col-xs-1 grid-cell"><span class="TextColor">Saturday</span></div>
                <div class="col-xs-1 grid-cell"><span class="TextColor">Sunday</span></div>
            </div>

            <div class="row days calendar-week TextColor" *ngFor="let week of [1, 2, 3, 4, 5]">
                <div class="col-xs-1 grid-cell" *ngFor="let day of days().slice((week-1)*7, week*7)">
                    <div (click)="open(content)" style="width: 100%; height: 100%;" > <span
                            style="float: right;">{{day}}</span><app-addEventModal></app-addEventModal>

                        <ng-template #content let-modal $modal-lg: 80px !default;>
                            <div class="modal-header">
                                <h4 class="modal-title" id="eventModal">Events</h4>
                                <button type="button" class="btn-close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')"></button>
                            </div>
                            <div class="container mb-3 modalBodyStyle">
                                <div class="modal-body"  *ngFor="let item of events$ | async;" >
                                     <div> <!--*ngIf="(item.startTime | date : 'd') === (today | date : 'd')" -->
                                        <div>
                                            <img class="img-fluid " src="../../../../assets/kalandar.png"
                                                alt="kalandar_Icon_Image" style="padding-top: 10%; width: 30%; height: 30%;">
                                        </div>
                                        <div>
                                            <h6>Event title: {{item.event}}</h6>
                                            <p>Category: {{item.category}}</p>
                                            <p>{{item.startTime  |date}} - {{item.endTime | date}}</p>
                                            <p>{{item.fullDay | IsFullDay}}</p>
                                            <button class="btn btn-danger btn-sm"(click)="DeleteEvent(item.id)" style="float: right; margin-left: 5px;">Remove</button>
                                            <app-updateEventsModal style="float:  right;"  (click)="storeEventId(item.id)"></app-updateEventsModal>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <pre>{{ closeResult }}</pre>
