<div id="hatter">
    <h1 style="text-align: center;">Events</h1>



    <div class="container mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.1);  width: 40%;">
        <div class="row" style="margin-top: 15px;">
            <div class="col-6">
                <h2>User events</h2> 
            </div>
            <div class="col-6"> <span ><app-addEventModal style="float: right;"></app-addEventModal></span></div>
       
    </div>
        <div class="container-fluid mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.1); "
            *ngFor="let item of events$ | async;" >
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid "  src="../../../../assets/kalandar.png"
                        alt="kalandar_Icon_Image" style="padding-top: 10%;">
                </div>
                <div class="col-7">
                    <p class="TextStyle">Event title: <span class="eventTextStyle">{{item.event}}</span></p>
                    <p class="TextStyle">Category: <span class="eventTextStyle">{{item.category}}</span></p>
                    <p><span class="eventTextStyle">{{item.startTime | date}}</span> - <span class="eventTextStyle">{{item.endTime | date}}</span></p>
                    <p><span class="eventTextStyle">{{item.fullDay | IsFullDay}}</span></p>
                    <button class="btn btn-danger btn-sm"(click)="DeleteEvent(item.id)" style="float: right; margin-left: 5px;">Remove</button>
                    <app-updateEventsModal style="float:  right;"  (click)="storeEventId(item.id)"></app-updateEventsModal>
                </div>
            </div>
        </div>
