<div id="hatter">
    <h1 style="text-align: center;">Events</h1>



    <div class="container mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.1);  width: 40%; ">
        <h2>User events</h2>
        <div class="container-fluid mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.1); "
            *ngFor="let item of events$ | async;" >
            <div class="row">
                <div class="col-4">
                    <img class="img-fluid "  src="../../../../assets/kalandar.png"
                        alt="kalandar_Icon_Image" style="padding-top: 10%;">
                </div>
                <div class="col-7">
                    <h6>Event title: {{item.event}}</h6>
                    <p>Category: {{item.category}}</p>
                    <p>{{item.startTime}} - {{item.endTime}}</p>
                    <p>{{item.fullDay | IsFullDay}}</p>
                    <button class="btn btn-danger btn-sm"(click)="DeleteEvent(item.id)" style="float: right; margin-left: 5px;">Remove</button>
                    <app-updateEventsModal style="float:  right;"></app-updateEventsModal>
                </div>
            </div>
        </div>
