<div id="hatter">
<h1 style="text-align: center;">Events</h1>

<div class="container-fluid">

    <div class="container mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.3);">
        asd
    </div>
    <div class="container mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.3);">
        asd
    </div>
    <div class="container mb-3" style="border: 1px solid black; background-color: rgba(245, 245, 245, 0.3);">
        asd
    </div>
</div>
</div>
