<div class="container-fluid"> 
	<div class="container">
		<div class="grid-calendar">
				<div class="row calendar-week-header">			
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell">12 AM</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div> 
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell">1 AM</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell">2 AM</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
		</div>
	</div> 
</div>

