<h2>{{today | date: 'hh:mm:ss'}}</h2>

<div>
  <button class="btngroupLeft btn btn-primary col" (click)="dayBefore()">Yesterday</button>
  <button class="btngroupLeft btn btn-primary col" (click)="dayNow()">Today</button>
  <button class="btngroupLeft btn btn-primary col" (click)="nextDay()">Tomorrow</button>

  <button class="btngroupRight btn btn-primary col" routerLink="/calendar/month">Month</button>
  <button class="btngroupRight btn btn-primary col" routerLink="/calendar/week">Week</button>
  <button class="btngroupRight btn btn-primary col" routerLink="/calendar/day">Day</button>
</div>

<h1>{{today | date: 'EEEE'}}</h1>



<div class="container-fluid">
	<div class="container">
		<div class="grid-calendar">
				<div class="row calendar-week-header">
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell"><span class="TextColor">12 AM</span></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell"><span class="TextColor">1 AM</span></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell"><span class="TextColor">2 AM</span></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
		</div>
	</div>
</div>

