@import 'angular-calendar/scss/angular-calendar.scss';

.dark-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-dark-primary: #1f262d;
  $bg-dark-secondary: #394046;
  $bg-active: #2c343a;
  $text-color: #d5d6d7;
  $border-color: rgba(0, 0, 0, 0.6);
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 15;

}
.cal-day-view .cal-drag-over .cal-hour-segment, .cal-day-view .cal-hour-segment:hover {
  background-color: black;
}
.calendarStlye{
  opacity: 15;
  color:#d5d6d7 ;
  $border-color: rgba(0, 0, 0, 0.6);
  background-color: #1f262d;
  color: black;
}

.cal-cell-top ng-star-inserted{
  background-color: #1f262d;
}


.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.55;
  color: black;

}

// .cal-cell-top, mwl-calendar-month-cell{
//   background-color: #1f262d;
// }

// .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
//   color: red;
// }

// .cal-month-view .cal-header .cal-cell{
//   padding: 5px 0;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: block;
//   white-space: nowrap;
//   background-color: #1f262d;
//   color: white;
// }

// .cal-month-view:hover .cal-header:hover .cal-cell:hover {
//   padding: 5px 0;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: block;
//   white-space: nowrap;
//   background-color: #1f262d;
//   color: white;
// }

// .cal-month-view .cal-events {
//   flex: 1;
//   align-items: flex-end;
//   margin: 3px;
//   line-height: 10px;
//   display: flex;
//   flex-wrap: wrap;
//   background-color: #1f262d;
// }


// .cal-day-number{
//   color: white;
// }
// .cal-day-view .cal-drag-over .cal-hour-segment, .cal-day-view .cal-hour-segment:hover {
//   background-color: black;
// }

  










