<div class="container-fluid"> 
	<div class="container">
		<div class="grid-calendar">
				<div class="row calendar-week-header">
				<div class="col-xs-1 grid-cell">Monday</div>
				<div class="col-xs-1 grid-cell">Tuesday</div>
				<div class="col-xs-1 grid-cell">Wednesday</div>
				<div class="col-xs-1 grid-cell">Thursday</div>
				<div class="col-xs-1 grid-cell">Friday</div>
				<div class="col-xs-1 grid-cell">Saturday</div>
				<div class="col-xs-1 grid-cell">Sunday</div>
			</div>
				<div class="row days calendar-week" *ngFor="let date of dates$">
				<div class="col-xs-1 grid-cell">{{date[0]}}</div>
				<div class="col-xs-1 grid-cell">dasdsa</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div> 
				<div class="row days calendar-week">
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
				<div class="row days calendar-week">
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
		</div>
	</div> 
</div>

