<form class="container" [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <h1>{{title}}</h1>
    <div class="form-group mb-3">
      <label for="usernameLabel">Username</label>
      <input type="text" class="form-control" id="usernameLabel" placeholder="Username" formControlName="username">
      <span class="errorMessage" *ngIf="username && username.invalid && username.touched && username.errors">This Username is not valid!</span>
    </div>
    <div class="form-group mb-3">
      <label for="passwordLabel" >Password</label>
      <input type="password" class="form-control" id="passwordLabel" placeholder="Password" formControlName="password">
      <span class="errorMessage" *ngIf="password && password.invalid && password.touched && password.errors">This Password is not valid!</span>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="rememberCheck">
      <label class="form-check-label" for="rememberCheck">Remember me</label>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary" (click)="Submit()"    routerLink="/mainpage">Login</button>

    <a routerLink="/register" style="float: right;">Register</a>
  </form>

