@media screen and (max-width: 694px) {
    .formTexts{
      font-size: 12px;
    }
    
    }
    
    @media screen and (max-width: 565px) {
        .formTexts{
        font-size: 10px;
      }
    
    }
    
    
    @media screen and (max-width: 499px) {
        .formTexts{
        font-size: 8px;
      }
    
    
    }
    
    @media screen and (max-width: 431px) {
      .formTexts{
        font-size: 7px;
      }
    
    }

    @media screen and (max-width: 333px) {
        .formTexts{
          font-size: 4px;
        }
      
      }


  
    .formTexts{
        float: right;
    }

.container{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 5px;
    
}

a{
    text-decoration: none;
    font-size: larger;
}

h1{
    text-align: center;
    background-color: rgba(57, 51, 51, 0.1);
    border-radius: 10px;
    margin: 5px;
    padding-bottom: 10px;
}

label{
    font-size: larger;
    font-weight: bold;
}

.errorMessage{
    color: red;
}

.kalandarImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-bottom: 5px;
}


#kalandarCntainer{
    background:rgba(57, 51, 51, 0.1);
    margin-top:40px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

 html {  
    height: 100%;
}
body {
    background: rgb(65,88,208);
    background: linear-gradient(45deg, rgba(65,88,208,1) 25%, rgba(200,80,192,1) 80%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
  font-weight: bold;
}

label, h1, span{
  color: black;
}
html, body { height: 100%; } 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }







