<h2 style="text-align: center;">All users</h2>

<div class="container table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col">Last_Name</th>
                <th scope="col">First_Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Delete User</th>
                <th scope="col">Change role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users$ |async">
                <td>{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{item.role | IsAdmin}}</td>
                <td><button class="btn btn-danger" *ngIf="item.role === 'USER'"
                        (click)="DeleteUser(item.id)">Delete</button></td>
                <td><button class="btn btn-success" *ngIf="item.role === 'USER' || item.role === 'ADMIN' && item.id !== this.user.id"
                        (click)="ChangeRole(item.id, item.role)">Change</button></td>
            </tr>
        </tbody>
    </table>
</div>