<div class="container-fluid"> 
	<div class="container">
		<div class="grid-calendar">
				<div class="row calendar-week-header">
				<div class="col-xs-1 grid-cell firstCell"></div>
				<div class="col-xs-1 grid-cell"><span>Monday</span><br><span class="monthTextColor">March 1</span></div>
				<div class="col-xs-1 grid-cell"><span>Tuesday</span><br><span class="monthTextColor">March 2</span></div>
				<div class="col-xs-1 grid-cell"><span>Wednesday</span><br><span class="monthTextColor">March 3</span></div>
				<div class="col-xs-1 grid-cell"><span>Thursday</span><br><span class="monthTextColor">March 4</span></div>
				<div class="col-xs-1 grid-cell"><span>Friday</span><br><span class="monthTextColor">March 5</span></div>
				<div class="col-xs-1 grid-cell"><span>Saturday</span><br><span class="monthTextColor">March 6</span></div>
				<div class="col-xs-1 grid-cell"><span>Sunday</span><br><span class="monthTextColor">March 7</span></div>
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell">12 AM</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div> 
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell">1 AM</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
				<div class="row cell calendar-week">
				<div class="col-xs-1 grid-cell firstCell">2 AM</div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
				<div class="col-xs-1 grid-cell"></div>
			</div>
		</div>
	</div> 
</div>

